/* Estilos generales */

body {
    background: #eee;
}

/* Header */

.navbar-collapse .avatar {
    background: white;
    border-radius: 500px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
}

.navbar-collapse .avatar img {
    height: 100%;
    text-align: center;
}

/* Registro */

.box-form,
.box-default {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    padding-top: 0px;
    margin: 0px auto;
    float: none;
}

.box-form input {
    margin-bottom: 10px;
}

/* Gente y Timeline */

.user-item .avatar,
.publication-item .avatar {
    background: #eee;
    border-radius: 550px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
}

.user-item .avatar img,
.publication-item .avatar img {
    height: 100%;
    text-align: center;
}

.user-item .user-item-content,
.publication-item .publication-item-content {
    padding: 10px;
    margin-left: 85px;
}

/* Home */

#timeline {
    margin-right: 20px;
    min-height: 750px;
    padding-bottom: 20px;
}

.box-header {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    padding-top: 0px;
    font-size: 25px;
}

#user-card {
    padding: 10px;
    margin-bottom: 20px;
}

#user-card .avatar {
    background: #eee;
    border-radius: 500px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
}

#user-card .avatar img {
    height: 100%;
    text-align: center;
}

#user-card .avatar img.default {
    opacity: 0.5;
}

#user-card .name-surname {
    float: left;
    font-size: 20px;
    padding: 10px;
}

#user-card .name-surname a {
    color: #000;
}

#user-card .nickname {
    opacity: 0.7;
}

#new-publication input,
#new-publication textarea {
    margin-bottom: 10px;
}

.pub-name-link {
    font-weight: bold;
    color: #000;
}

.pub-date {
    color: #808080;
}

.pub-image {
    display: none;
    transition: all 300ms;
}

.pub-image img {
    width: 100%;
    text-align: center;
    display: block;
    margin: 0px auto;
}

.publication-item .glyphicon {
    margin-right: 7px;
    cursor: pointer;
    color: #444 !important;
}



