{% extends "AppBundle:Layouts:layout.html.twig" %}

{% block content %}
    <div class="container">
        <div id="new-private-message" class="col-lg-12 box-default">
            <h1 class="box-header">Mensajeria privada</h1>

            <div class="col-lg-6">
                <a href="{{ path('private_message_index') }}" class="btn btn-warning">
                    Mensajes Recibidos
                </a>
            </div>

            <div class="col-lg-6">
                <h4>Mensajes Enviados</h4>
                <hr />

                <div class="box-content">
                    {% include 'AppBundle:PrivateMessage:_private_messages_list.html.twig' %}
                </div>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}